body{
  width: 100%;
  margin: 0 auto;
}

li{
  list-style: none;
  }

a{
  text-decoration: none;
}


nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a:hover {
  text-decoration: underline;

}

header {
  background-color: #495e57;
  padding: 30px;
}

.header section {
  color: #EDEFEE;
  padding: 15px 15px ;
  position: relative;
  }

h1 {
  color: #F4CE14;
  font-size: 40px;
}

h2{
  color: #F4CE14;
}

.banner p {
  font-size: 15px;
  max-width: 50vw;
  margin-bottom: 30px;
}

button {
  background-color: #F4CE14;
  color: black;
  padding: 15px ;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-style: bold;
  cursor: pointer;
}

.bannerImg{
  float: right;
  position: absolute;
  right: 10%;
  top: 15%;
  width: 400px;
}

.bannerImg img {
  width: 80%;
  height: 350px;
  border-radius: 20px;
}

@media screen and (max-width: 768px){
  nav {
    display: block;
  }
}


